@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,400;1,500;1,600;1,700&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');
* {
  box-sizing: border-box;
}
.image-container{
  height:250px;
  width:400px;
}
img{
  /* height:250px; */
  /* width:250px; */
  height:100%;
  width:100%;
  background-size: cover;
background-repeat: no-repeat;
}
/* Body centers the column at 100 vh and hide scrollbars */
body {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height:100vh; */
  /* overflow: hidden; */
  background-color: black;
  color: darkgray;
}
li {
  list-style-type: none;
  margin: 20px;
}
/* CENTERING A DIV */
.center1-parent-div {
  position: relative;
  margin-top: 20px;
  height: 250px;
  width: 250px;
  background-color: rgb(150, 52, 52);
  border-color: blue;
  text-align: center;
}
.center1-child-div {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkcyan;
  border-color: chartreuse;
  border-width: medium;
  text-align: center;
  border: 2px solid whitesmoke;
}
.center2-parent-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  height: 250px;
  width: 250px;
  background-color: rgb(150, 52, 52);
  border-color: blue;
}
.center2-child-flex {
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  background-color: darkcyan;
  border: 2px solid whitesmoke;
}
.center3-parent-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  height: 250px;
  width: 250px;
  background-color: rgb(150, 52, 52);
}
.center3-child-grid {
  text-align: center;
  margin-top: 10px;
  background-color: darkcyan;
  border: 2px solid whitesmoke;
}

/* BOX MODEL */
.box-model {
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(150, 52, 52);
  border: 2px solid whitesmoke;
}
